/* PERSONAL PORTFOLIO */
/* DEVELOPED BY SAMIULHAQ CHARDIWALL */
/* STARTED DATE: 10-JAN-2023 */

/* INDEX.CSS  --HOME PAGE STYLE--  */

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    /* setting variables */

    /* color and themes */
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --continer-color: #fff;

    /* Fonts and Typography */
    --body-font: "Righteous", sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: . 813rem;
    --smaller-font-size: .75rem;


    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;


    /* margins */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-3: 3rem;


    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Font size for Large devices */
    @media screen and (min-width: 968px) {
        :root{
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: .875rem
            --small-font-size: .875rem;
            --smaller-font-size: 813rem;
        }
    }


    --animate-duration: 2s;


}

/* style for every element (universal selector) */
*{
    outline: none;
    text-decoration: none;
    font-family: var(--body-font);
}

*, ::after, ::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* PRELOADER */
#pre-loader-bg{
    position: absolute;
    background-image: url("../Thumbnail/loading-page-background.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: brightness(40%) blur(10px);

    margin: 0 auto;
}

/* animation */
#anime-ctr{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    
}

#anime{
    width: 200px;
    
}

/* =========================== side menu ================================ */
.side-menu{
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid rgb(rgb(var(--skin-color)));

    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    z-index: var(--z-tooltip );

}

/* side menue toggle */
.side-menu .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}

.side-menu .nav-toggler span {
    height: 2px;
    width: 18px;
    background-color: rgb(var(--skin-color));
    display: inline-block;
    position: relative;
}
.side-menu .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background-color: rgb(var(--skin-color));
    position: absolute;
    top: -6px;
    left: 0;
}

.side-menu .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background-color: rgb(var(--skin-color));
    position: absolute;
    top: 6px;
    left: 0;
}

/* navbar style */
ul{
    list-style: none;
}

li .fa{
    margin-right: 10px;
}

.side-menu .nav{
    margin-top: 50px;
}

.side-menu .nav li{
    margin-bottom: 20px;
    display: block;
}

.side-menu .nav li a {
    font-size: 18px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.side-menu .nav li .active{
    color: rgb(var(--skin-color));
}

/* logo style*/
.side-menu .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

.side-menu .logo a::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 25px;
    border-bottom: 7px solid rgb(var(--skin-color));
    border-left: 5px solid rgb(var(--skin-color));
    bottom: -15px;
    left: -20px;

}
.side-menu .logo a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 25px;
    border-top: 6px solid rgb(var(--skin-color));
    border-right: 5px solid rgb(var(--skin-color));
    top: -15px;
    right: -20px;

}

/* =========================== Home section ================================ */
.section{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    padding: 0 30px;
    opacity: 1;
    padding-left: 270px;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.container {

    max-width: 1100px;
    width: 100%;
    margin: auto ;
    /* background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(var(--skin-color), 0.3) */
}

.hidden{
    display: none !important;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.home
.about{
    min-height: 100vh;
    display: flex;
    color: var(--text -black-900);
} 

.home .home-info,
.about .about-info{
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-img,
.about .about-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center ;
    position: relative;
}
.home .home-img::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 150px;
    border-top: 10px solid rgb(var(--skin-color));
    border-left: 15px solid rgb(var(--skin-color));
    left: 30px;
    top: -20px;
}

.home .home-img::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    border-bottom: 10px solid rgb(var(--skin-color));
    border-right: 15px solid rgb(var(--skin-color));
    right: 50px;
    bottom: -50px;
}

.home .home-img img
.about .about-img{
    height: 400px;
}

h3.hello, 
h3.profession {
    font-size: var(--h1-font-size);
    margin: 15px 0;
    
}

h3.hello .name, 
h3 .typing {
    font-size: var(--big-font-size);
    color: rgb(var(--skin-color));
    font-weight: 700;
}

a.btn span{
    display: inline-block;
    height: 90px;
    width: 90px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    padding: 25px 20px;
    background-color: rgb(var(--skin-color));
    color: var(--bg-black-900);

    position: relative;
    bottom: 45px;
    right: 45px;
}

a.btn{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 60px solid rgba(var(--skin-color), .4);
}


/* =========================== about section ================================ */
.section .container{
    padding-top: 60px;
    padding-bottom: 20px;
}

.section-title{
    flex: 0 0 100%;
    width: 100%;
}

.section-title h2{
    font-size: var(--h1-font-size);
    color: var(--text-black-900);
    position: relative;

}

.section-title::before{
    content: "";
    position: absolute;
    height: 6px;
    width: 90px;
    background-color: rgb(var(--skin-color));
    top: 60px;
    left: 16px;
}

.section-title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 65px;
    background-color: rgb(var(--skin-color));
    top: 70px;
    left: 16px;
}