/* PERSONAL PORTFOLIO */
/* DEVELOPED BY SAMIULHAQ CHARDIWALL */
/* STARTED DATE: 10-JAN-2023 */

/* INDEX.CSS  --HOME PAGE STYLE--  */

/* ---------- importing external fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* ============================== setting variables ======================== */

:root{
    /* color and themes */
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    /* Fonts and Typography */
    --header-font: 'Righteous', cursive;


    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: . 813rem;
    --smaller-font-size: .75rem;
}

/*  ------------ inverting colors for dark display (dark theme) ---------- */
body.dark{
        /* color and themes */
        --bg-black-900: rgb(23, 25, 42);
        --bg-black-100: #222222;
        --bg-black-50: #393939;
        
        --text-black-900: #fff;
        --text-black-700: #d3d3d3;
        --continer-color: #fff;
}

/* --------- style for every element (universal selector) -----------*/
*{
    outline: none;
    text-decoration: none;
}

*, ::after, ::before{
    box-sizing: border-box;
}

/* =============================== general styling ============================ */

html{
    scroll-behavior: smooth;
    font-family: var(--header-font);
}

body{
    background-color: var(--bg-black-900);

    /* pointer-events: none; */
}

.shadow{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.section{
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    padding: 0 20px;
    opacity: 1;
    padding-left: 1in;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.container {

    max-width: 1100px;
    width: 100%;
    margin: auto ;
    border-radius: 15px;
}

.hidden{
    display: none !important;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1, h2, h3{
    font-family: var(--header-font);

}

p, h3, h4, .fa-solid{
    color: var(--text-black-700);
}

/* =============================== pre loading animation ============================ */
#anime-ctr{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 99;
    
}

#anime{
    width: 200px;
    
}

/* =========================== side menu ================================ */

/* nav bar overall structure */
.side-menu{
    width: 270px;
    height: 100%;
    min-height: 500px;
    position: fixed;

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: --bg-black-50;
    border-right: 1px solid rgba(var(--skin-color), 0.2);
    font-family: var(--header-font);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 99;

}

/* collapsed menue style */
.nav-collapse{
    width: 0.8in;
    height: 100vh;
}

/* removing labels for callpsed menue */
.nav-collapse .nav span{
    display: none;
}

/* nav bar list item (menu item) */
.side-menu ul.nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0px;
    transition: all .4s ease-out;
}

/* nav text style and hover */
.side-menu ul.nav li a,
ul.social li a{
    color: var(--text-black-700);
    transition: all .4s ease;
}

.nav li span{
    padding-left: 20px;
}

.side-menu ul.nav li,
.nav-toggler,
ul.social li{
    cursor: pointer;
    padding: 8px 15px;
    transition: all .4s ease;
    border-bottom: 1px solid var(--bg-black-50);

}

.side-menu ul.nav li:hover,
.nav-toggler:hover,
.social li:hover{
    transform: rotate(-5deg);
    background-color: rgba(var(--skin-color),.7);
    border-radius: 5px;
}
.side-menu ul.nav li:hover a,
.nav-toggler:hover i,
.social li:hover a{
    color: var(--bg-black-900)
}

/* side menue toggle botton */
.nav-toggler{
    position: absolute;
    top: 93%;
    left: 75%;    
}

/* style for collapsed menu toggle button */
.nav-collapse .nav-toggler{
    left: initial;
}


/* active menu is different color */
.side-menu .nav li .active{
    color: rgb(var(--skin-color));
}


/* logo style for expanded menu*/
.logo a{
    color: var(--text-black-700);
}

.logo span{
    font-family: var(--header-font);
}

.un-collapsed-logo{
    position: absolute;
    top: 80px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    transition: all .4s ease;
}

/* adding some style to the logo */
.un-collapsed-logo a::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 40px;
    border-bottom-left-radius: 100%;
    border-bottom: 10px solid rgb(var(--skin-color));
    border-left: 1px solid rgb(var(--skin-color));
    bottom: -25px;
    left: -20px;

}
.un-collapsed-logo a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 50px;
    border-top: 10px solid rgb(var(--skin-color));
    border-right: 1px solid rgb(var(--skin-color));
    border-top-right-radius: 100%;
    top: -24px;
    right: -30px;
}

/* animation on logo hover for expaned menue */
.un-collapsed-logo:hover{
    transform: rotate(-5deg);
}

.un-collapsed-logo:hover a{
    color: rgb(var(--skin-color));

}

.un-collapsed-logo:hover a::after,
.un-collapsed-logo:hover a::before{
    border-color: var(--text-black-700);
}


/* collapsed menu style */
.nav-collapse .logo{
    display: box;
    position: absolute;
    bottom: 88%;
    font-size: var(--h1-font-size);
    transform: rotate(270deg);
    padding: 5px 8px;
    border-radius: 5px;
}

/* collapse menu hover animition */
.nav-collapse .logo:hover a{
    color: var(--bg-black-900);
}

.nav-collapse .logo:hover{
    background-color: rgb(var(--skin-color));
    transform: rotate(280deg);
}

/* =========================== Home section ================================ */

.social{
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    transition: all .4s ease-out;
}

.social li{
    z-index: 100;
}

.home
.about{
    min-height: 600px !important;
    color: var(--text -black-900);
    
} 


.home .home-info,
.about .about-info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 100%;
}

.home .home-img,
.about .about-img{
    flex: 0 0 40%;
    /* max-width: 40%; */
    text-align: center ;
    position: relative;

    background-image: url('../Thumbnail/blob.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 20px;
}


.home .home-img img,
.about .about-img img{
    background-origin: content-box;
    height: 370px;
    margin-top: 40px;
}

h3.hello, 
h3.profession {
    font-size: var(--h1-font-size);
    margin: 15px 0;    
}

h3.hello .name, 
h3 .typing {
    font-size: var(--big-font-size);
    color: rgb(var(--skin-color));
    font-weight: 700;
}

a.btn span{
    display: inline-block;
    height: 90px;
    width: 90px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    padding: 25px 20px;
    background-color: rgb(var(--skin-color));
    color: var(--bg-black-900);

    position: relative;
    bottom: 45px;
    right: 45px;
}

a.btn{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 60px solid rgba(var(--skin-color), .4);
}


/* =========================== about section ================================ */
.section .container{
    padding-top: 60px;
    padding-bottom: 20px;
}

.section-title{
    flex: 0 0 100%;
    width: 100%;
}

.section-title h2{
    font-size: var(--h1-font-size);
    color: var(--text-black-900);
    position: relative;

}

.section-title::before{
    content: "";
    position: absolute;
    height: 6px;
    width: 90px;
    background-color: rgb(var(--skin-color));
    top: 60px;
    left: 16px;
}

.section-title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 65px;
    background-color: rgb(var(--skin-color));
    top: 70px;
    left: 16px;
}

.about .personal-info{
    flex: 0 0 60%;
    width: 60%;
    margin-top: 40px;
}

.about .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50% ;
}

.about .personal-info  .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .personal-info  .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
}

.about .skills{
    flex: 0 0 40%;
    width: 40%;
    margin-top: 40px ;
}

.about .education, .about .experience{
    flex: 0 0 50%;
    width: 50%;
    margin-top: 30px ;
}

.about .education h2.title,
.about .experience h2.title{
    padding-left: 15px;
}

.about .timeline-box{
    flex: 0 0 100%;
    width: 100%;
}

.about .timeline{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 15px;
    width: 100%;
    position: relative;
}
.about .timeline .timeline-item{
    position: relative;
    padding-right: 20px;
    padding-left: 37px;
    padding-bottom: 30px;  
}

.about .timeline .timeline-item::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 77%;
    left: 17px;
    top: 15px;
    background-color: rgb(var(--skin-color));
}

.about .timeline .circle{
    position: absolute;
    left: 8px;
    top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(var(--skin-color));
}

.about .timeline .timeline-item .date{
    color: var(--text-black-700);
}

.about .timeline-item p{
    text-align: justify;
}

.about .title{
    font-size: var(--h2-font-size);
}



/* =========================== Service section ================================ */

.service .service-item{
    flex: 0 0 33.3%;
    max-width: 31.3%;
    margin-bottom: 30px;
    margin-right: 13px;
}

.service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px, 15px;
    text-align: center;
    transition: all .3s ease;
}

.service-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);   
}

.service-item-inner .icon{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin: 30px auto 30px;
    text-align: center;
    transition: all .3s ease;
}

.service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: rgb(var(--skin-color));
    transition: all .3s ease;

}

.service-item-inner:hover .icon{
    background-color: rgb(var(--skin-color));
}

.service-item-inner:hover .icon .fa{
    color: #fff;
}

.service-item p{
    color: var(--text-black-700);

}

/* =========================== Contact section ================================ */










/* ========================= Color themes styling ================================ */

.style-switcher{
    position: fixed;
    bottom: 0;
    left: 42%;

    width: 250px;
    padding: 0 10px 10px;
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
    border-radius: 10px;
    transition: all .5s ease;

    transform: translateY(100%);
}

.style-switcher.open{
    transform: translateY(-10px);
}

.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;

    text-align: center;
    font-size: 20px;
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    right: 52%;
    top: -45px;


    border: 1px solid var(--bg-black-50);
    cursor: pointer;

    border-radius: 50%;
    transition: all .3s ease;
    
}

.style-switcher .s-icon i{
    line-height: 35px;
}

.style-switcher .day-night{
    right: 75px;
}

.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}

.style-switcher .colors span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.style-switcher .colors .color1{
    background-color: rgb(236, 24, 57);
}

.style-switcher .colors .color2{
    background-color: rgb(255, 123, 100);
}

.style-switcher .colors .color3{
    background-color: rgb(55, 177, 130);
}

.style-switcher .colors .color4{
    background-color: rgb(24, 84, 180);
}

.style-switcher .colors .color5{
    background-color: rgb(255, 190, 0);
}

.style-switcher .colors .color6{
    background-color: rgb(124, 159, 236);
}


/* ============ customizing cursor ============== */
.cursor{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-black-900);
    background-color: var(--text-black-900);
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    animation: cursorAnim 1s infinite alternate;
}

.cursor::before{
    box-sizing: content-box;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid var(--bg-black-50);
    border-radius: 50%;
    top: -10px;
    right: -10px;
    animation: cursorAnim2 1s infinite alternate;
}

@keyframes cursorAnim {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
    
}

@keyframes cursorAnim2 {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
    
}

.expand{
    animation: cursorAnim3 1s forwards;
    border: 2px solid rgb(var(--skin-color));
}

@keyframes cursorAnim3 {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
    
}


/* ========================= Responsiveness ================================ */
@media (max-width: 997px) {
    .row{
        flex-direction: column-reverse;
    }

    .container{
        margin-top: 30px;
    }

    .home .home-img img{
        width: 250px;
        height: 300px;
    }
}

@media (max-width: 500px) {
    .section{
        padding-left: 70px; 
    }

    .nav-collapse{
        width: 0.5in;
        height: 90vh;
    }


    .home .home-img img{
        height: 270px;
    }

    .style-switcher{
        left: 20%;
    }

    ul.social span{
        display: none;
    }
}
